.page {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.flexCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  text-align: center;
  padding: 1rem;
  background: #171717;
  border-radius: 6px;
  gap: 1rem;
}

/* SPACERS */
.rem1-spacer {
  min-height: 1rem;
}
.rem3-spacer {
  min-height: 3rem;
}
.rem05-spacer {
  min-height: 0.5rem;
}

.all-routines-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.all-routine-activities-div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.all-activities-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.routine-div {
  background: #171717;
  border-radius: 6px;
  padding: 1rem;
  box-shadow: 0px 2px 15px -1px black;
  height: fit-content;
}

.flex-row-space-between {
  display: flex;
  justify-content: space-between;
}

.activity {
  width: fit-content;
  background: #424242;
  min-width: 200px;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 6px;
}

.routine-activity {
  width: 100%;
}

.routine-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #171717;
  padding: 1rem;
  border-radius: 6px;
  max-width: 724px;
}
